#set($apiKeyId = $context.identity.apiKeyId)
#set($tenantName = $stageVariables.get($apiKeyId))
#if($tenantName && $tenantName != "")
  #set($context.requestOverride.header.x-tenant-id = $tenantName)
#end
$input.json('$')